/*  Start on Hero section */
body {
  margin: 0%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("/src/images/your_verse_hero.jpg") no-repeat 50% 100%;
  height: 600px;
}

nav {
  width: 980px;
  margin-top: 75px;
  background: #606060;
  background: linear-gradient(180deg, #858585, #606060, #858585);
  height: 36px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(0, 0, 0, 0.2);
  width: 100%;
}

nav .fa-apple {
  font-size: 25px;
}

nav .hover:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

nav .border-radius {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

nav a {
  color: #ccc;
  text-decoration: none;
  font-size: 13px;
}

input[type="text"] {
  background: #6f6f6f;
  background: linear-gradient(180deg, #858585, #606060, #858585);
  border-radius: 10px;
  width: 100px;
  margin-left: 10px;
  outline: none;
}

nav .fa-search {
  font-size: 12px;
  color: white;
  position: relative;
  right: 100px;
  top: 1.5px;
}

nav .no-hover:hover {
  cursor: initial;
}

/* Start on titles */

.hero-titles {
  margin: 20px 20px;
  text-align: center;
  color: white;
  width: 80%;
}

.title {
  background: url("/src/images/your_verse_title_small.png") no-repeat 50% 50%;
  height: 55%;
  margin-top: 20px;
}

.sub-titles {
  background: url("/src/images/your_verse_subhead_small.png") no-repeat 50% 50%;
  height: 80%;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.sub-titles h3 a {
  color: white;
  text-decoration: none;
}

.last-titles {
  background: url("/src/images/cta_your_verse_27pt.png") no-repeat;
  height: 28%;
  margin-left: 10%;
  margin-right: 20%;
}

.last-titles:hover {
  background: url("/src/images/cta_your_verse_27pt-hover.png") no-repeat;
  height: 100%;
  cursor: pointer;
  margin-left: 10%;
  margin-right: 20%;
}

/* Start on prodcuts section */

.product-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 200px;
}

.product-one {
  background: url("/src/images/1promo_iphone5s.jpg") no-repeat;
}

.product-two {
  background: url("/src/images/promo_iphone5c.jpg") no-repeat;
}

.product-three {
  background: url("/src/images/promo_30_years.jpg") no-repeat;
}

.product-four {
  background: url("/src/images/promo_supplier_responsibility.jpg") no-repeat;
}

/*  Footer */

footer {
  display: flex;
  flex-direction: column;
}

.top-footer {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}

.left-top-footer p {
  font-size: 10px;
  color: #6e6e6e;
}

.left-top-footer p a {
  text-decoration: none;
  color: #08c;
}

.bottom-footer p a {
  color: #08c;
  text-decoration: none;
}

.right-top-footer ul li a {
  color: #08c;
  text-decoration: none;
  font-size: 10px;
  margin-left: 3px;
}

.left-top-footer p a:hover {
  text-decoration: underline;
  color: #08c;
}

.bottom-footer p a:hover {
  color: #08c;
  text-decoration: underline;
}

.right-top-footer ul li a:hover {
  color: #08c;
  text-decoration: underline;
}

.left-top-footer {
  width: 45%;
}

.right-top-footer ul {
  display: flex;
  margin: 3px 0;
}

.right-top-footer ul li {
  height: 100%;
  list-style: none;
  margin-left: 0;
}

.right-top-footer .no-border {
  border-left: none;
}

.usa-flag {
  margin-top: 5px;
}

.bottom-footer {
  width: 80%;
  margin: auto;
}

.bottom-footer p {
  font-size: 10px;
  color: #6e6e6e;
}
